---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="404">
  <h1 class="text-center text-4xl mt-6">404</h1>
  <p class="text-center text-2xl">Markdown bin not found</p>
  <div class="flex justify-center mt-8 text-xl">
    <a href="/" class="font-medium"> home </a>
  </div>
</MainLayout>
