---
import MainLayout from "../layouts/MainLayout.astro";
import { NAV } from "../utils/globals";
---

<MainLayout title="404">
  <h1 class="text-center text-4xl mt-6">404</h1>
  <p class="text-center text-2xl">Markdown bin not found</p>
  <div class="flex justify-center mt-8 text-xl">
    {
      Object.entries(NAV).map(([name, url]) => (
        <a href={url} class="mx-2">
          {name}
        </a>
      ))
    }
  </div>
</MainLayout>
