---
import { NAV } from "../utils/globals";

interface Props {
  buttons?: boolean;
}
const { buttons = true } = Astro.props;
---

<footer class="bottom-0 p-4 mx-auto mt-auto">
  {
    buttons && (
      <div class="flex justify-center mb-1">
        {Object.entries(NAV).map(([name, url]) => (
          <a href={url} class="mx-2">
            {name}
          </a>
        ))}
      </div>
    )
  }
  <p class="text-center text-gray-500" class="footer-text">
    mdbin by <a href="https://vsahni.me">varun</a>
  </p>
</footer>
