---
interface Props {
  title?: string;
  description?: string;
  frontmatter?: any;
}

const {
  title: title_,
  description = "An aggregator site for IB Resources!",
  frontmatter,
} = Astro.props;

let defaultTitle = "mdbin";
let title;
// If the title is not set, use the default title, if the title/frontmatter title is set, append the default title to it
if (!title_ && !frontmatter?.title) {
  title = defaultTitle;
} else {
  title = `${frontmatter?.title || title_} - ${defaultTitle}`;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <slot name="seo" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <slot name="head-scripts" />
  </head>
  <body class="dark:bg-neutral-900 bg-slate-50 dark:text-white">
    <slot />
    <style is:global>
      .TinyMDE {
        @apply bg-black/5 dark:bg-white/5 text-inherit overflow-auto h-[60vh] p-2 prose dark:prose-invert max-w-none;
      }
      .TMCommandBar {
        @apply text-inherit border-0 p-2 bg-black/10 dark:bg-white/10;
      }

      .TMCommandButton {
        @apply bg-transparent fill-neutral-900 dark:fill-neutral-100 rounded-md;
      }

      .TMCommandButton_Active {
        @apply bg-black/20 dark:bg-white/20;
      }

      .TMCommandButton_Active:hover {
        @apply bg-amber-100 dark:bg-amber-400 fill-neutral-900;
      }

      .TMCommandButton_Disabled:hover {
        @apply bg-black/10 dark:bg-white/10 fill-neutral-900 dark:fill-neutral-100;
      }

      .TMCommandButton_Inactive:hover {
        @apply bg-black/10 dark:bg-white/10 fill-neutral-900 dark:fill-neutral-100;
      }
      .TMInfoString {
        @apply text-amber-600 dark:text-amber-400 bg-transparent;
      }

      .TMCode,
      .TMFencedCodeBacktick,
      .TMFencedCodeTilde,
      .TMIndentedCode {
        @apply bg-transparent;
      }
      .TMHTML,
      .TMHTMLBlock {
        @apply text-green-700 dark:text-green-500;
      }
      .TMLinkDestination {
        @apply text-blue-600 dark:text-blue-400;
      }

      .TMCommandDivider {
        @apply border-l-neutral-500 border-r-neutral-500 dark:border-l-neutral-300 dark:border-r-neutral-300;
      }
    </style>
  </body>
</html>
